@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

$breakpoint: 768px;
$sp_ratio:0.9;
@mixin sp {
  @media (max-width: $breakpoint) { @content; }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.03rem;
  color: #3f3c3c;
}

mdview-content{

&>section {
  padding: 60px 20px;
  max-width: 900px;
  width: 100%;
  margin: auto;

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 2.488rem;
    
  }

  h2 {
    font-size: 2.074rem;
    border-bottom: 1px solid #bbb;
  }

  h3 {font-size: 1.728rem;}

  h4 {font-size: 1.44rem;}

  h5 {font-size: 1.2rem;}

  small, .text_small {font-size: 0.833rem;}

  pre {
    background-color: #f6f8fa;
    font-weight: 300;
    border-radius: 3px;
    line-height: 1.65em;
    //padding: 1em;
    margin: 1em;
    width: 100%;
    &.mermaid{
      background-color:initial;
    }
  }
  blockquote{
    border-left: 5px solid #d8d8d8;
    //background-color: #f6f8fa;
    padding: 1rem 2rem;
    margin-bottom: 1.75rem;
    position: relative;
  }

  hr {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #333;
    text-align: center;
    height: 1.75em;
    user-select: text;
  }

  hr:after {
    content: "*";
    position: relative;
    display: inline-block;
    user-select: text;
    color: #bbb;
    padding: 0 0.5em;
    line-height: 1.75em;
  }

  ul{
    li{
      position: relative;
      list-style: none;
      margin-top: 0.3rem;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0.7em;
        left: -1em;
        width: 8px;
        height: 8px;
        border-right: 1.5px solid #bbb;
        border-bottom: 1.5px solid #bbb;
        transform: rotate(-45deg);
      }
      &>ul{
        margin-left: initial;
      }
    }
    &.contains-task-list{
      margin-left: -1em;
      li{
        &::after{
          content: none;
        }
      }
    }
  }
  ol{
    li{
      margin-top: 0.3rem;
    }
  }
  }
}