@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;800&display=swap');

$breakpoint: 768px;
$sp_ratio:0.9;
@mixin sp {
  @media (max-width: $breakpoint) { @content; }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

mdview-content{
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", "YuGothic", "Meiryo",system-ui, sans-serif;
  font-weight: 300;
  font-kerning: auto;
  font-variant-ligatures: none;
  letter-spacing: .25px;
  line-height: 1.75em;
  letter-spacing: 0.03rem;
  color: #3f3c3c;

&>section {
  padding: 60px 20px;
  max-width: 900px;
  width: 100%;
  margin: auto;

  p {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  a{
    color: #6699cc;
    &:link {
      color: #6699cc;
      text-decoration: underline;
    }
    &:visited {
      text-decoration: underline;
      color: #778899;
    }
    &:active {
      text-decoration: underline;
      color: #6699cc;
    }
    &:hover {
      text-decoration: underline;
      color: #6699cc;
    }
  }

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }

  h2 {
    font-size: 1.85rem;
    border-bottom: 1px solid #bbb;
    line-height: 1.5;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
    border-bottom: #bbb 1px dashed;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h5 {font-size: 1.2rem;}

  small, .text_small {font-size: 0.833rem;}

  pre {
    background-color: #f6f8fa;
    font-weight: 300;
    border-radius: 3px;
    line-height: 1.65em;
    //padding: 1em;
    margin: 1em;
    width: 100%;
    &.mermaid{
      background-color:initial;
    }
  }

  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  sub { 
    top: 0.4em; 
  }

  blockquote{
    position: relative;
    border-left:none;
    padding:2rem 0 2rem 5rem;
    margin-bottom: 0;
    &:before{
      content:open-quote;
      position:absolute;
      top: 60px;
      left: 3rem;
      font-size:10rem;
      opacity:0.1;
      font-family: 'Times New Roman', Times;
      transform:scaleY(110%);
    }
    &:after{
      content: no-close-quote;
    }
  }

  hr {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #333;
    text-align: center;
    height: 1.75em;
    user-select: text;
    margin: 1rem auto;
  }

  hr:after {
    content: "*";
    position: relative;
    display: inline-block;
    user-select: text;
    color: #bbb;
    padding: 0 0.5em;
    line-height: 1.75em;
  }

  ul{
    padding-left: 2rem;
    li{
      position: relative;
      list-style: none;
      margin-top: 0.3rem;
      text-indent: -12px;
      &::before{
        content: "";
        display: inline-block;
        vertical-align: 2px;
        position: relative;
        margin-right: 0.5rem;
        width: 6px;
        height: 6px;
        background-color: #bbb;
        border-radius: 10px;
      }
      &>ul{
        padding-left: 2rem;
        &>li{
          &::before{
            border: 1px solid #bbb;
            background-color: initial;
          }
          &>ul{
            &>li{
              &::before{
                width: 4px;
                height: 4px;
                background-color: #bbb;
                vertical-align: 3px;
              }
            }
          }
        }
      }
    }
    &.contains-task-list{
      margin-left: -1em;
      li{
        &::before{
          content: none;
        }

      }
    }
  }
  ol{
    li{
      margin-top: 0.3rem;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
  .math{
    margin-bottom: 1rem;
  }
  }
}