mdview-content{
code{
  //background-color: #f6f8fa;
  border-radius: 3px;
  padding: 0 3px;
  white-space: pre-wrap;
  overflow: auto;
  line-height: 1.5;
  &:not(.hljs){
    background-color: rgba(0, 0, 0, 0.03);
    display: inline-block;
    margin: 0 3px;
    vertical-align: -0.4em;
  }
}

pre{
  &:not(.code){
    padding: 1em;
    margin: 0;
    margin-bottom: 1rem;
    &>code{
      background: transparent;
    }
  }
  &.code{
    //background-color: #fff;
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
    &>code{
      //background: transparent;
      margin: 0;
      padding: 0;
      width:100%;
      display: block;
      &[class*="language"] {
        //background-color: #f6f8fa;
        display: block;
        //font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
        //line-height: 1.2em;
        position: relative;
        word-break: break-word;
        white-space: break-spaces;
        overflow: scroll;
      }
      table{
        display: table;
        border:1px solid #bbb;
        width:100%;
        font-size:14px;
        margin-bottom: 0;
        td, th , tr{
          padding:3px !important;
          border: none !important;
          vertical-align: top;
          background-color: transparent;
        }
      }
    }
  }
  p &{
    display:inline-block;
    margin:1px;
    padding:0 2px;
    background-color:#f3f3f3;  
  }
}


/* highlight.js */

.highlight {
  margin-bottom: 16px;
  pre{
    margin-bottom: 0;
    word-break: normal;
  }
}

.hljs-ln-numbers{
	border-right: 1px solid #ccc;
	color: #bbb;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hljs-ln-n{
  width:2em;
}

.hljs-ln-code{
  width: 100%;
}
}