.footnotes{
  font-size: calc(12/16)+rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  &-list{
    padding-top: 5px;
    min-width: 50%;
    border-top: 1px solid #bbb;
    p{
      margin-bottom: 0;
    }
  }
  &-sep{
    display: none;
  }
}