mdview-content{
table{
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
  th,td{
    border-bottom: 1px solid #bbb;
    padding: 10px 20px;
  }

  tbody{
    tr{
      background-color: #fff;
      &:nth-child(even){
        background-color: #ddd;
      }
      &:last-child{
        td{
          border-bottom: 1px solid #333;
        }
      }
    }
    
  }
  thead{
    th{
      background-color: #333;
      color: #fff;
      border-bottom: none;
    }
  }

}
}