@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;800&display=swap");
/* A Modern CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

mdview-content {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", "YuGothic", "Meiryo", system-ui, sans-serif;
  font-weight: 300;
  font-kerning: auto;
  font-variant-ligatures: none;
  letter-spacing: 0.25px;
  line-height: 1.75em;
  letter-spacing: 0.03rem;
  color: #3f3c3c;
}
mdview-content > section {
  padding: 60px 20px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
mdview-content > section p {
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
mdview-content > section a {
  color: #6699cc;
}
mdview-content > section a:link {
  color: #6699cc;
  text-decoration: underline;
}
mdview-content > section a:visited {
  text-decoration: underline;
  color: #778899;
}
mdview-content > section a:active {
  text-decoration: underline;
  color: #6699cc;
}
mdview-content > section a:hover {
  text-decoration: underline;
  color: #6699cc;
}
mdview-content > section h1, mdview-content > section h2, mdview-content > section h3, mdview-content > section h4, mdview-content > section h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  line-height: 1.3;
}
mdview-content > section h1 {
  margin-top: 0;
  font-size: 2.488rem;
}
mdview-content > section h2 {
  font-size: 1.85rem;
  border-bottom: 1px solid #bbb;
  line-height: 1.5;
}
mdview-content > section h3 {
  font-size: 1rem;
  font-weight: 700;
  border-bottom: #bbb 1px dashed;
  margin-bottom: 0.5rem;
}
mdview-content > section h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
mdview-content > section h5 {
  font-size: 1.2rem;
}
mdview-content > section small, mdview-content > section .text_small {
  font-size: 0.833rem;
}
mdview-content > section pre {
  font-weight: 300;
  border-radius: 3px;
  line-height: 1.65em;
  margin: 1em;
  width: 100%;
}
mdview-content > section pre.mermaid {
  background-color: initial;
}
mdview-content > section sup, mdview-content > section sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
mdview-content > section sub {
  top: 0.4em;
}
mdview-content > section blockquote {
  position: relative;
  border-left: none;
  padding: 2rem 0 2rem 5rem;
  margin-bottom: 0;
}
mdview-content > section blockquote:before {
  content: open-quote;
  position: absolute;
  top: 60px;
  left: 3rem;
  font-size: 10rem;
  opacity: 0.1;
  font-family: "Times New Roman", Times;
  transform: scaleY(110%);
}
mdview-content > section blockquote:after {
  content: no-close-quote;
}
mdview-content > section hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #333;
  text-align: center;
  height: 1.75em;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  margin: 1rem auto;
}
mdview-content > section hr:after {
  content: "*";
  position: relative;
  display: inline-block;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  color: #bbb;
  padding: 0 0.5em;
  line-height: 1.75em;
}
mdview-content > section ul {
  padding-left: 2rem;
}
mdview-content > section ul li {
  position: relative;
  list-style: none;
  margin-top: 0.3rem;
  text-indent: -0.8rem;
}
mdview-content > section ul li::before {
  content: "";
  display: inline-block;
  vertical-align: 2px;
  position: relative;
  margin-right: 0.5rem;
  width: 6px;
  height: 6px;
  background-color: #bbb;
  border-radius: 10px;
}
mdview-content > section ul li > ul {
  padding-left: 2rem;
}
mdview-content > section ul li > ul > li::before {
  border: 1px solid #bbb;
  background-color: initial;
}
mdview-content > section ul li > ul > li > ul > li::before {
  width: 4px;
  height: 4px;
  background-color: #bbb;
  vertical-align: 3px;
}
mdview-content > section ul.contains-task-list {
  margin-left: -1em;
}
mdview-content > section ul.contains-task-list li::before {
  content: none;
}
mdview-content > section ol li {
  margin-top: 0.3rem;
}
mdview-content > section .math {
  margin-bottom: 1rem;
}

mdview-content table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}
mdview-content table th, mdview-content table td {
  border-bottom: 1px solid #bbb;
  padding: 10px 20px;
}
mdview-content table tbody tr {
  background-color: #fff;
}
mdview-content table tbody tr:nth-child(even) {
  background-color: #ddd;
}
mdview-content table tbody tr:last-child td {
  border-bottom: 1px solid #333;
}
mdview-content table thead th {
  background-color: #333;
  color: #fff;
  border-bottom: none;
}

mdview-content .footnotes {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
mdview-content .footnotes-list {
  padding-top: 5px;
  min-width: 50%;
  border-top: 1px solid #bbb;
}
mdview-content .footnotes-list p {
  margin-bottom: 0;
}
mdview-content .footnotes-sep {
  display: none;
}

mdview-content code {
  border-radius: 3px;
  padding: 0 3px;
  white-space: pre-wrap;
  overflow: auto;
  line-height: 1.5;
}
mdview-content code:not(.hljs) {
  background-color: rgba(0, 0, 0, 0.075);
  display: inline;
}
mdview-content p code {
  display: inline-block;
  margin: 1px;
  padding: 0 2px;
  background-color: #f3f3f3;
}
mdview-content pre:not(.code) {
  padding: 1em;
  margin: 0;
  margin-bottom: 1rem;
  border: 1px #CCC solid;
  background-color: #f6f8fa;
}
mdview-content pre:not(.code) > code {
  background: transparent;
  font-size: 0.875rem;
}
mdview-content pre.code {
  margin: 0;
  width: 100%;
  margin-bottom: 1rem;
}
mdview-content pre.code > code {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
mdview-content pre.code > code[class*=language] {
  display: block;
  position: relative;
  word-break: break-word;
  white-space: break-spaces;
  overflow: scroll;
}
mdview-content pre.code > code table {
  display: table;
  border: 1px solid #bbb;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 0;
}
mdview-content pre.code > code table td, mdview-content pre.code > code table th, mdview-content pre.code > code table tr {
  padding: 3px !important;
  border: none !important;
  vertical-align: top;
  background-color: transparent;
}
p mdview-content pre {
  display: inline-block;
  margin: 1px;
  padding: 0 2px;
  background-color: #f3f3f3;
}
mdview-content {
  /* highlight.js */
}
mdview-content .highlight {
  margin-bottom: 16px;
}
mdview-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
mdview-content .hljs-ln-numbers {
  border-right: 1px solid #ccc;
  color: #bbb;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
mdview-content .hljs-ln-n {
  width: 2em;
}
mdview-content .hljs-ln-code {
  width: 100%;
}

mdview-content .toc {
  display: inline-block;
  border: 1px solid #a2a9b1;
  padding: 5px;
  margin: 1em 0;
  width: 50%;
  font-size: 0.85em;
  line-height: 1.5em;
  word-break: normal;
}
@media (max-width: 768px) {
  mdview-content .toc {
    width: 100%;
  }
}
mdview-content .toc h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0.5em;
  border-bottom: none;
  cursor: pointer;
}
mdview-content .toc h2:after {
  content: " [hide]";
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 200;
  font-size: 0.85em;
  color: #bbb;
}
mdview-content .toc ul {
  list-style-position: outside;
  list-style-type: none;
  counter-reset: toc;
  margin: 0.5em auto;
  padding-left: 0.5em;
}
mdview-content .toc ul li {
  margin: 0 auto;
  display: table-row;
  counter-increment: toc;
  text-indent: initial;
}
mdview-content .toc ul li:before {
  padding-right: 0.25em;
  display: table-cell;
  content: counters(toc, ".") ".";
  vertical-align: initial;
  background-color: initial;
  border: initial;
}
mdview-content .toc ul li:after {
  content: none;
}
mdview-content .toc.close h2:after {
  content: " [show]";
}
mdview-content .toc.close ul {
  display: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvX2Jhc2Uuc2NzcyIsIi4uL3Njc3MvX3Jlc2V0LnNjc3MiLCJkZWZhdWx0LmNzcyIsIi4uL3Njc3MvX3RhYmxlLnNjc3MiLCIuLi9zY3NzL19mb290bm90ZXMuc2NzcyIsIi4uL3Njc3MvX2NvZGUuc2NzcyIsIi4uL3Njc3MvX3RvYy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFRLHNHQUFBO0FDQU4sdUJBQUE7QUFDQTtFQUFxQixzQkFBQTtBQ0d2Qjs7QURINkM7RUFBMkMsU0FBQTtBQ094Rjs7QURQaUc7RUFBZ0MsZ0JBQUE7QUNXakk7O0FEWGlKO0VBQWtCLHVCQUFBO0FDZW5LOztBRGYwTDtFQUFLLGlCQUFBO0VBQWlCLGtDQUFBO0VBQWtDLGdCQUFBO0FDcUJsUDs7QURyQmtRO0VBQWUsaUNBQUE7VUFBQSw4QkFBQTtBQ3lCalI7O0FEekIrUztFQUFZLGVBQUE7RUFBZSxjQUFBO0FDOEIxVTs7QUQ5QndWO0VBQTZCLGFBQUE7QUNrQ3JYOztBRGxDa1k7RUFBc0M7SUFBa0IscUJBQUE7RUN1Q3hiO0VEdkM2YztJQUFxQixxQ0FBQTtJQUFvQyx1Q0FBQTtJQUF1QyxzQ0FBQTtJQUFxQyxnQ0FBQTtFQzZDbGxCO0FBQ0Y7QUZ2Q0E7OztFQUdFLHNCQUFBO0FFeUNGOztBRnRDQTtFQUNFLGVBQUE7RUFDQSx1QkFBQTtBRXlDRjs7QUZ0Q0E7RUFDRSxpQkFBQTtFQUNBLHFKQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLDRCQUFBO0VBQ0Esc0JBQUE7RUFDQSxtQkFBQTtFQUNBLHVCQUFBO0VBQ0EsY0FBQTtBRXlDRjtBRnZDQTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtBRXlDRjtBRnZDRTtFQUNFLG1CQUFBO0VBQ0EsZ0JBQUE7RUFDQSx1QkFBQTtBRXlDSjtBRnJDRTtFQUNFLGNBQUE7QUV1Q0o7QUZ0Q0k7RUFDRSxjQUFBO0VBQ0EsMEJBQUE7QUV3Q047QUZ0Q0k7RUFDRSwwQkFBQTtFQUNBLGNBQUE7QUV3Q047QUZ0Q0k7RUFDRSwwQkFBQTtFQUNBLGNBQUE7QUV3Q047QUZ0Q0k7RUFDRSwwQkFBQTtFQUNBLGNBQUE7QUV3Q047QUZwQ0U7RUFDRSxzQkFBQTtFQUNBLHVDQUFBO0VBQ0EsZ0JBQUE7RUFDQSxnQkFBQTtBRXNDSjtBRm5DRTtFQUNFLGFBQUE7RUFDQSxtQkFBQTtBRXFDSjtBRmxDRTtFQUNFLGtCQUFBO0VBQ0EsNkJBQUE7RUFDQSxnQkFBQTtBRW9DSjtBRmpDRTtFQUNFLGVBQUE7RUFDQSxnQkFBQTtFQUNBLDhCQUFBO0VBQ0EscUJBQUE7QUVtQ0o7QUZoQ0U7RUFDRSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxxQkFBQTtBRWtDSjtBRi9CRTtFQUFJLGlCQUFBO0FFa0NOO0FGaENFO0VBQW9CLG1CQUFBO0FFbUN0QjtBRmpDRTtFQUVFLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtFQUVBLFdBQUE7RUFDQSxXQUFBO0FFaUNKO0FGaENJO0VBQ0UseUJBQUE7QUVrQ047QUY5QkU7RUFDRSx3QkFBQTtFQUNBLGtCQUFBO0VBQ0EsV0FBQTtBRWdDSjtBRjdCRTtFQUNFLFVBQUE7QUUrQko7QUY1QkU7RUFDRSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EseUJBQUE7RUFDQSxnQkFBQTtBRThCSjtBRjdCSTtFQUNFLG1CQUFBO0VBQ0Esa0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtFQUNBLGdCQUFBO0VBQ0EsWUFBQTtFQUNBLHFDQUFBO0VBQ0EsdUJBQUE7QUUrQk47QUY3Qkk7RUFDRSx1QkFBQTtBRStCTjtBRjNCRTtFQUNFLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSx5QkFBQTtLQUFBLHNCQUFBO1VBQUEsaUJBQUE7RUFDQSxpQkFBQTtBRTZCSjtBRjFCRTtFQUNFLFlBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EseUJBQUE7S0FBQSxzQkFBQTtVQUFBLGlCQUFBO0VBQ0EsV0FBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7QUU0Qko7QUZ6QkU7RUFDRSxrQkFBQTtBRTJCSjtBRjFCSTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLG9CQUFBO0FFNEJOO0FGM0JNO0VBQ0UsV0FBQTtFQUNBLHFCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLG9CQUFBO0VBQ0EsVUFBQTtFQUNBLFdBQUE7RUFDQSxzQkFBQTtFQUNBLG1CQUFBO0FFNkJSO0FGM0JNO0VBQ0Usa0JBQUE7QUU2QlI7QUYzQlU7RUFDRSxzQkFBQTtFQUNBLHlCQUFBO0FFNkJaO0FGekJjO0VBQ0UsVUFBQTtFQUNBLFdBQUE7RUFDQSxzQkFBQTtFQUNBLG1CQUFBO0FFMkJoQjtBRnBCSTtFQUNFLGlCQUFBO0FFc0JOO0FGcEJRO0VBQ0UsYUFBQTtBRXNCVjtBRmZJO0VBQ0Usa0JBQUE7QUVpQk47QUZaRTtFQUNFLG1CQUFBO0FFY0o7O0FDeE9BO0VBQ0UseUJBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7QUQyT0Y7QUMxT0U7RUFDRSw2QkFBQTtFQUNBLGtCQUFBO0FENE9KO0FDeE9JO0VBQ0Usc0JBQUE7QUQwT047QUN6T007RUFDRSxzQkFBQTtBRDJPUjtBQ3hPUTtFQUNFLDZCQUFBO0FEME9WO0FDbk9JO0VBQ0Usc0JBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7QURxT047O0FFaFFBO0VBQ0Usa0JBQUE7RUFDQSxhQUFBO0VBQ0EseUJBQUE7RUFDQSxnQkFBQTtBRm1RRjtBRWxRRTtFQUNFLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLDBCQUFBO0FGb1FKO0FFblFJO0VBQ0UsZ0JBQUE7QUZxUU47QUVsUUU7RUFDRSxhQUFBO0FGb1FKOztBR2xSQTtFQUVFLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLHFCQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBO0FIb1JGO0FHblJFO0VBQ0Usc0NBQUE7RUFDQSxlQUFBO0FIcVJKO0FHL1FBO0VBQ0kscUJBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtFQUNBLHlCQUFBO0FIaVJKO0FHN1FFO0VBQ0UsWUFBQTtFQUNBLFNBQUE7RUFDQSxtQkFBQTtFQUNBLHNCQUFBO0VBQ0EseUJBQUE7QUgrUUo7QUc5UUk7RUFDRSx1QkFBQTtFQUNBLG1CQUFBO0FIZ1JOO0FHN1FFO0VBRUUsU0FBQTtFQUNBLFdBQUE7RUFDQSxtQkFBQTtBSDhRSjtBRzdRSTtFQUVFLFNBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7QUg4UU47QUc3UU07RUFFRSxjQUFBO0VBR0Esa0JBQUE7RUFDQSxzQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZ0JBQUE7QUg0UVI7QUcxUU07RUFDRSxjQUFBO0VBQ0Esc0JBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7RUFDQSxnQkFBQTtBSDRRUjtBRzNRUTtFQUNFLHVCQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLDZCQUFBO0FINlFWO0FHeFFFO0VBQ0UscUJBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtFQUNBLHlCQUFBO0FIMFFKO0FHclZBO0VBZ0ZBLGlCQUFBO0FId1FBO0FHdFFBO0VBQ0UsbUJBQUE7QUh3UUY7QUd2UUU7RUFDRSxnQkFBQTtFQUNBLGtCQUFBO0FIeVFKO0FHclFBO0VBQ0MsNEJBQUE7RUFDQSxXQUFBO0VBQ0EsMkJBQUE7RUFDQSx5QkFBQTtFQUVBLHNCQUFBO0VBRUEsaUJBQUE7QUh1UUQ7QUdwUUE7RUFDRSxVQUFBO0FIc1FGO0FHblFBO0VBQ0UsV0FBQTtBSHFRRjs7QUk1V0E7RUFDRSxxQkFBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxVQUFBO0VBRUEsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0FKOFdGO0FGclhFO0VNRkY7SUFXSSxXQUFBO0VKZ1hGO0FBQ0Y7QUkvV0U7RUFDRSxnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTtBSmlYSjtBSWhYSTtFQUNFLGtCQUFBO0VBQ0Esb0JBQUE7RUFDQSxtQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLFdBQUE7QUprWE47QUkvV0U7RUFDRSw0QkFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0FKaVhKO0FJaFhJO0VBQ0UsY0FBQTtFQUNBLGtCQUFBO0VBQ0Esc0JBQUE7RUFDQSxvQkFBQTtBSmtYTjtBSWpYTTtFQUNFLHFCQUFBO0VBQ0EsbUJBQUE7RUFDQSwrQkFBQTtFQUNBLHVCQUFBO0VBQ0EseUJBQUE7RUFDQSxlQUFBO0FKbVhSO0FJalhNO0VBQ0UsYUFBQTtBSm1YUjtBSTdXTTtFQUNFLGtCQUFBO0FKK1dSO0FJNVdJO0VBQ0UsYUFBQTtBSjhXTiIsImZpbGUiOiJkZWZhdWx0LmNzcyJ9 */